.bg {
	background: linear-gradient(#CDCDCD, #D8B032, darkorange);
}

.fs-20{
	font-size:20px;
}



.m-0 {
	margin: 0 auto;
}

.mt-10 {
	margin-top: 10px;
}

.mt-12 {
	margin-top: 12px;
}

.mr-15 {
	margin-right: 15px;
}
.mt-50 {
	margin-top: 50px;
}

.mb-80 {
	margin-bottom: 70px;
}

.p-0 {
	padding: 0px;
}

.p-10 {
	padding: 10px;
}

.pt-15 {
	padding-top: 15px;
}

.pt-70 {
	padding-top: 70px;
}

.pl-10 {
	padding-left: 10px;
}

.glyphicon {
	font-size: 30px;
}

.glyphicon-calendar {
	color: #000000;
}

.glyphicon-trash, .glyphicon-pencil, .vbar {
	font-size: 20px;
	display: inline-block;
	float: right;
	padding: 15px;
}

.vbar {
	margin: 15px 0;
	padding: 0px;
	border-right: 1px solid white;
	height: 20px;
}

.row {
	margin: 0 auto;

}

.title {
	display: inline-block;
    font-size: 19px;
    padding-top: 15px;
}

.create_task {
	background: #CFCFCF;
	height: 60px;
}

.add_zone > input {
	width: 87%;
	height: 32px;
	border: none;
	outline: none;
	-webkit-appearance: none;
	vertical-align: middle;
}

.add_btn {
	border:1px solid #707070;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	width: 13%;
	border-top: none;
}

.add_zone {
	border-top: 1px solid #707070;
	border-top-right-radius: 4px;
}

.input_area {
	border: 1px solid #B1B2A2;
	border-bottom: none;
	color: #B1A595;
	font-size: 19px;
	background-color: white;
}

.input_area:hover {
  background-color: #FCFED5 ;
}

.check_boxs {
	padding-top: 10px;
	transform: scale(1.5);
	display: inline-block;
	vertical-align: middle; 
}

.middl_col {
	border-left:1px solid #B1B2A2;
	border-right:1px solid #B1B2A2;
}

.last_row {
	border-bottom: 1px solid #B1B2A2;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px; 
}

.btn-add-todo {
	font-size: 20px;
	color: #32496F;

}

.btn-add-todo > span {
	color: white;
	display: inline-block;
	vertical-align: top;
	word-spacing: 0px;
}